li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

.focus {
    position: relative;
    width: 720px;
    height: 455px;
    overflow: hidden;
    margin: 100px auto;
}

.img {
    width: 600%;/* 拷贝之后图片列表中有6张图片，将ul的宽设置为600%，从而使所有图片都在同一行上*/
    position: absolute;
    z-index: -1;
}

.img li {
    float: left;
    width: 720px;
    height: 455px;
}

.pointer {
    position: absolute;
    bottom: 12px;
    left: 320px;
}

.pointer li {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
}

.current {
    opacity: 1 !important;
}